<div class="footer">
	<div class="footer-bottom">
		<div class="footer-bottom-box clearfix">
			<div class="l">
				{:get_system_config('web','copyright')}
					<a target="_blank" rel="nofollow" style="margin-left: 15px;color:#dad8d5" href="http://www.beian.gov.cn/portal/registerSystemInfo">{:get_system_config('web','beian')}</a><a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow" style="margin-left: 15px;color:#dad8d5">{:get_system_config('web','icp')}</a>
			</div>
			<div class="r">Powered by GouguCMS</div>
		</div>
	</div>
</div>